<ul class="alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <form #client_form="ngForm">
      <div class="form-group row pb-2">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="client.name"
            name="name"
            required
            #name="ngModel"
          />
          <div
            class="alert-danger"
            *ngIf="name.invalid && (name.dirty || name.touched)"
          >
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">
              Name must be at least four characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row pb-2">
        <label for="last_name" class="col-form-label col-sm-2">Last Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="client.last_name"
            name="last_name"
            required
            #last_name="ngModel"
          />
          <div
            class="alert-danger"
            *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
          >
            <div *ngIf="last_name.errors.required">Last name is required</div>
            <div *ngIf="last_name.errors.minlength">
              Last name must be at least four characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row pb-2">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="client.email"
            name="email"
            required
            #email="ngModel"
          />
          <div
            class="alert-danger"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email format not valid</div>
          </div>
        </div>
      </div>

      <div class="form-group row pb-2">
        <label for="created" class="col-form-label col-sm-2">Date</label>
        <div class="col-sm-6">
          <input [matDatepicker]="picker"
          class="form-control"
          [(ngModel)]="client.created"
          name="created"
          style="display: inline; width: 120px;"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row pb-2">
        <div class="col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            (click)="create()"
            *ngIf="!client.id; else elseBlock"
            [disabled]="!client_form.form.valid"
          >
            Create
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary"
              role="button"
              (click)="update()"
              [disabled]="!client_form.form.valid"
            >
              Update
            </button>
          </ng-template>
          <button class="btn btn-danger ms-3" role="button" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
